nav{
  text-align: center;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

    a{
      padding: 10px;
      font-weight: bold;
      font-family: sans-serif;
      text-decoration: none;
    }
}
