<div class="main-div">
  <div class="example-container first-child-div">
    <mat-form-field appearance="fill">
      <mat-label i18n>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid" i18n>{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <div class="example-container second-child-div">
    <mat-form-field appearance="fill">
      <mat-label i18n>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon i18n>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

</div>
